1. Создано приложение product_info (сеть магазинов),
2. Созданы модели Products(продукты) и Contacts(конакты) и Sales(вся информация о звене с сети)
3. Настроена админ-панель
4. Написаны View, сериализоторы, добавлены urls,
5. Добавлена фильтрация  Sales по стране
6. Создано приложение user_auth (все о пользователе)
7. Создан User, отнаследованный от AbstractUser
8. Добавлен admin.action для изменения задолженности перед поставщиком
9. В settings добавлены соответсвующие приложения.